<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnoss</title>
</head>
<body>
    <%- include('../header.ejs') %>
    <%- include('../nav.ejs') %>

        <section>
            <form  id="formAlumnos" action="/alumnos" method="post">
                <button id="btnBuscar">Buscar</button>
                <input type="number" id="matricula" name="matricula" placeholder="Matricula" required>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
                <select  type="text" id="sexo" name="sexo" placeholder="Sexo" required>
                    <option value="H">H</option>
                    <option value="M">M</option>
                </select>
                <input type="text" name="especialidad" id="especialidad" placeholder="Especialidad" required>
                <div style="float:right;margin-right:5.5rem;margin-top: 1rem;">
                    <button type="submit">Insertar</button>
                </div>
            </form>

            <div>
                <table class="table table-hover">
                    <tr>
                        <!-- <th scope="col">Id</th> -->
                        <th scope="col">Matricula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Domicilio</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Especialidad</th>
                    </tr>
                    
                    <% 
                    for(var i = 0; i < rows.length; i++){
                    %>
                        <tr>
                            <!-- <td scope="col"><%= rows[i].id %></td> -->
                            <td scope="col"><%= rows[i].Matricula %></td>
                            <td scope="col"><%= rows[i].Nombre %></td>
                            <td scope="col"><%= rows[i].Domicilio %></td>
                            <td scope="col"><%= rows[i].Sexo %></td>
                            <td scope="col"><%= rows[i].Especialidad %></td>
                        </tr>   
                    <%  
                    } 
                    
                    %>    
                </table>
    
            </div>
        </section>
        <%- include('../footer.ejs') %>
</body>
</html>