<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practica - Cotizacion</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    section {
        margin: 20px auto;
        width: 80%;
        max-width: 600px;
    }

    .formulario {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .input-container,
    div {
        margin-bottom: 15px;
    }

    label {
        display: block;
        font-weight: bold;
    }

    input[type="number"],
    select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .buttons-container button {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: #4caf50;
        color: white;
        margin-right: 10px;
    }

    .buttons-container button a {
        text-decoration: none;
        color: white;
    }

    .buttons-container button:hover {
        background-color: #45a049;
    }

    .res-container {
        margin-top: 20px;
        border-top: 1px solid #ccc;
        padding-top: 20px;
    }

    .res-container h3 {
        margin-bottom: 10px;
    }

    .res-container h5 {
        margin-bottom: 5px;
    }
</style>

<body>
    <%- include('../header.ejs') %> <%- include('../nav.ejs') %>
            <section>
                <form class="formulario" action="/cotizacion" method="post">
                    <div class="input-container">
                        <label for="">Valor de Automovil</label>
                        <input type="number" name="valor" id="valor" required value="<%=valor%>" />
                    </div>
                    <div>
                        <label for="">Porcentaje de pago inicial</label>
                        <input type="number" name="pInicial" id="pInicial" required value="<%=pInicial%>" />
                    </div>
                    <div>
                        <label for="">Plazo en meses</label>
                        <select class="" name="plazos" id="plazos" required value="<%=plazos%>">
                            <option value="12">12 meses</option>
                            <option value="24">24 meses</option>
                            <option value="36">36 meses</option>
                            <option value="48">48 meses</option>
                            <option value="60">60 meses</option>
                        </select>
                    </div>
                    <div class="buttons-container">
                        <button type="submit">Calcular</button>
                        <button><a href="/cotizacion">Limpiar</a></button>

                    </div>
                </form>
                <div class="res-container">
                    <h3>Resultado de la cotizacion</h3>
                    <% if(valor){ pInicial=valor * (pInicial / 100); let cuota=(valor - pInicial) / plazos;
                        cuota=cuota.toFixed(2); %>
                        <h5>Pago inicial: $<%=pInicial%>
                        </h5>
                        <h5>Total a financiar: $<%=valor%>
                        </h5>
                        <h5>Plazos a meses: <%=plazos%> meses</h5>
                        <h5>El valor de la cuota mensual es: $<%=cuota%>
                        </h5>
                        <% } %>

                </div>
            </section>
            <%- include('../footer.ejs') %>
</body>

</html>