<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de multiplicar</title>
</head>
<style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

.my-5 {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"],
button[type="reset"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

button[type="reset"] a {
    color: white;
    text-decoration: none;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
    background-color: #0056b3;
}

h3 {
    margin-top: 10px;
    font-size: 18px;
}

</style>
<body>
    <section>
        <%- include('../header.ejs') %>
        
        <%- include('../nav.ejs') %>
        <form class="my-5" action="/tabla" method="/post">
            <label for="tabla">Tabla</label>
            <input type="number", id="numero" name="numero" requiredValue="<%=numero%>">
            <button type="submit">Enviar</button>
            <button type="reset"> <a href="/tabla">Limpiar</a></button>
        </form>
        <% 
            
            let res = 0;
            if(numero){
                for(con = 1; con <= 10; con++){
                    res = con * numero;
                    %>
                    <h3> <%=numero%> * <%=con%> = <%=res%> </h3>
                    <% 
                }
            }
        %>
        <%- include('../footer.ejs') %>
    </section>
</body>
</html>